*, a {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: #e5e0e0;
    font-weight: normal;
}

.navigation {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
}

.navigation-profile {
    display: flex;
    align-items: center;
}

.exit-form {
    padding-left: 30px;
}

.header {
    background-color: #0e0e0e;
    /* background-color: rgba(12, 12, 12, 0.3);  */
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex: 1;
}

.main {
    background-image: linear-gradient(rgba(12, 12, 12, 0.7), rgba(12, 12, 12, 0.5)), url("images/backgroundimage.jpg");
    width: 100%;
    min-height: 100vh;
}

.main > .container {
    background-color: rgba(12, 12, 12, 0.96); /* , 98% */
    padding: 50px;
    min-height: 100vh;
}

.main_button {
    background-color: #000;
    padding: 5px 30px 5px 30px;
    border-radius: 20px;
    font-weight: 900;
}

.main_button:hover {
    background-color: #e5e0e0;
    -webkit-box-shadow: 0px 0px 19px 0px rgba(229, 224, 224, 0.28);
    -moz-box-shadow: 0px 0px 19px 0px rgba(229, 224, 224, 0.28);
    box-shadow: 0px 0px 19px 0px rgba(229, 224, 224, 0.28);
    color: #000;
    transition: .3s;
}

.product {
    background-color: #252525;
    max-width: 30%;
    padding: 20px;
    margin: 20px 0 20px 0;
    border-radius: 20px;
}

.products {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product > img {
    min-width: 100%;
    padding: 10px;
    border-radius: 50px;
}

