<!DOCTYPE html>
<html lang="ru">

	<head>
		{% load static %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="pragma" content="no-cache" />
		<title>{% block title %} {% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	</head>

    <body>
        <header class="header">
            <nav>
                <ul class="navigation">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                </ul>
            </nav>

            {% if user.is_authenticated %}
                {{ user.username }}
                <a href="{% url 'user_logout' %}">Выйти</a>
            {% else %}
                <a href="#">Войти</a>
            {% endif %}
        </header>

		{% block content %}
		{% endblock content %}
	</body>

</html>
