<!DOCTYPE html>
<html lang="ru">

	<head>
		{% load static %}
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="pragma" content="no-cache" />
		<title>{% block title %} {% endblock title %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
	</head>

    <body>
        <!-- HEADER -->
        <header class="header">
            <nav>
                <!-- NAVIGATION -->
                <ul class="navigation">
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    {% if user.is_authenticated %}
                        <li>
                            <!-- USER PROFILE -->
                            <a href="{{ user.shopclient.get_absolute_url }}">{{ user.username }}</a> {{ user.shopclient.balance }}₽
                            <!-- EXIT BUTTON -->
                            <form action="{% url 'user_logout' %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Выйти">
                            </form>
                        </li>
                    {% else %}
                        <!-- LOGIN BUTTON -->
                        <li><a href="{% url 'user_login' %}">Войти</a></li>
                    {% endif %}
                    <li><a href="{% url 'cart_detail' %}">Корзина ({{ cart|length }})</a></li>
                </ul>
            </nav>
        </header>

        <!-- CONTENT BLOCK -->
		{% block content %}
		{% endblock content %}
	</body>

</html>
