{% extends "base.html" %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <h1>{{ product.name }}, {{ product_rate }}</h1>
    <a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
    {% if user.is_superuser %}
        <a href="{% url "edit_product" product.slug %}">Изменить</a>
    {% endif %}
    
    <h3>Цена: {{ product.price }} ₽</h3>
    <hr />
    <form action="{% url 'add_cart' product.id %}" method="post">
        {{ cart_form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Добавить в корзину">
    </form>
    <form method="post" action="{% url 'remove_cart' product.id %}">
        {% csrf_token %}
        <input type="submit" value="Удалить из корзины">
    </form>
    <img style="width: 30%; height:320px;" src="{{ product.image.url }}" alt="Изображение продукта">
    <p>{{ product.description }}</p>

    {% if user.is_authenticated %}
            <h2>Напишите своё мнение о товаре!</h2>
            <form method="post">
                {{ comments_form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Опубликовать">
            </form>

    {% else %}
        <p><a href="{% url 'user_login' %}">Зарегистрируйтесь</a>, чтобы оставлять комментарии.</p>
    {% endif %}

    <h3>Отзывы (всего {{ comments|length }}шт.)</h3>
    {% for comment in comments %}
        <div class="comment">
            <p>{{ comment.client.username }}</p>
            <p>{{ comment.get_visual_rating }}</p>
            <p>{{ comment.text }}</p>
        </div>
    {% endfor %}


{% endblock %}
