{% extends "base.html" %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
    {% if category|length != 1 %}
        <form method="get">
            Выберите категорию
            <label>
                <select>
                    {% for cat in category %}
                        <option value="category_slug">{{ cat.name }}</option>
                    {% endfor %}
                </select>
            </label>

            <input type="submit" value="Выбрать">
        </form>
    {% else %}
        {{ category.name }}
    {% endif %}

    {% for product in products %}
        <h2><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h2>
    {% endfor %}

{% endblock %}